* {
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    background-color: lightgreen;
}


main {
    border: 1px solid red;
    display: grid;
    grid-template-columns:[colOne] 100px [colTwo] 100px [colThree] 100px [colFour] 100px [colFive] 100px [colSix] 100px [colSeven] 100px [colEight] 100px [colNine] 100px [colTen] 100px [colEleven] 100px [colTwelve];
    grid-template-rows: [rowOne] 100px [rowTwo] 100px [rowThree] 100px [rowFour] 100px [rowFive] 100px [rowSix] 100px [rowSeven] 100px [rowEight] 100px [rowNine] 100px [rowTen]
}

#play-again{
    grid-column-start: colOne;
    grid-column-end: colTwo;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#hit {
    grid-column-start: colFour;
    grid-column-end: colFive;
    grid-row-start: rowSeven;
    grid-row-end: rowEight;
}

#stand {
    grid-column-start: colFour;
    grid-column-end: colFive;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#bet-one{
    grid-column-start: colTen;
    grid-column-end: colEleven;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#bet-three{
    grid-column-start: colTen;
    grid-column-end: colEleven;
    grid-row-start: rowNine;
    grid-row-end: rowTen;
}

#place-bet {
    grid-column-start: colThree;
    grid-column-end: colFour;
    grid-row-start: rowSeven;
    grid-row-end: rowEight;
}

#next-hand{
    grid-column-start: colThree;
    grid-column-end: colFour;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#bet-pool{
    grid-column-start: colEleven;
    grid-column-end: colTwelve;
    grid-row-start: rowSix;
    grid-row-end: rowSeven;
}

#player-bank{
    grid-column-start: colEleven;
    grid-column-end: colTwelve; 
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#rules-box{
    grid-column-start: colOne;
    grid-column-end: span colFive;
    grid-row-start: rowTwo;
    grid-row-end: rowSix;
}

header {
    grid-column-start: colOne;
    grid-column-end: colTwo; 
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
}

#alert {
    grid-column-start: colTen;
    grid-column-end: colTwelve;
    grid-row-start: rowSeven;
    grid-row-end: rowEight;
}

#computer-card-values {
    grid-column-start: colEleven;
    grid-column-end: colTwelve;
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
}
#player-card-values {
    grid-column-start: colFour;
    grid-column-end: colFive;
    grid-row-start: rowNine;
    grid-row-end: rowTen;
}

#computer-cards{
    grid-column-start: colFive;
    grid-column-end: colTen;
    grid-row-start: rowOne;
    grid-row-end: rowFive;
}

#player-cards {
    grid-column-start: colFive;
    grid-column-end: colTen;
    grid-row-start: rowSix;
    grid-row-end: rowTen;
}

