* {
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    background-color: lightgreen;
}


main {
    border: 1px solid red;
    display: grid;
    grid-template-columns:[colOne] 100px [colTwo] 100px [colThree] 100px [colFour] 100px [colFive] 100px [colSix] 100px [colSeven] 100px [colEight] 100px [colNine] 100px [colTen] 100px [colEleven] 100px [colTwelve] 100px [colThirteen];
    grid-template-rows: [rowOne] 100px [rowTwo] 100px [rowThree] 100px [rowFour] 100px [rowFive] 100px [rowSix] 100px [rowSeven] 100px [rowEight] 100px [rowNine] 100px [rowTen] 100px [rowEleven];
}

#play-again{
    grid-column-start: colOne;
    grid-column-end: colTwo;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#hit {
    grid-column-start: colFive;
    grid-column-end: colSix;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#stand {
    grid-column-start: colFive;
    grid-column-end: colSix;
    grid-row-start: rowNine;
    grid-row-end: rowTen;
}

#bet-one{
    grid-column-start: colEleven;
    grid-column-end: colTwelve;
    grid-row-start: rowNine;
    grid-row-end: rowTen;
}

#bet-three{
    grid-column-start: colEleven;
    grid-column-end: colTwelve;
    grid-row-start: rowTen;
    grid-row-end: rowEleven;
}

#place-bet {
    grid-column-start: colFour;
    grid-column-end: colFive;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}

#next-hand{
    grid-column-start: colFour;
    grid-column-end: colFive;
    grid-row-start: rowNine;
    grid-row-end: rowTen;
}

#bet-pool{
    grid-column-start: colThirteen;
    grid-column-end: colFourteen;
    grid-row-start: rowSeven;
    grid-row-end: rowEight;
}

#player-bank{
    grid-column-start: colThirteen;
    grid-column-end: colFourteen; 
    grid-row-start: rowNine;
    grid-row-end: rowTen;
}

#rules-box{
    grid-column-start: colOne;
    grid-column-end: span colFive;
    grid-row-start: rowTwo;
    grid-row-end: rowFour;
}

#wins-losses{
    grid-column-start: colOne;
    grid-column-end: colTwo; 
    grid-row-start: rowTen;
    grid-row-end: rowEleven;
}

header {
    grid-column-start: colOne;
    grid-column-end: colTwo; 
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
}

#alert {
    grid-column-start: colEleven;
    grid-column-end: colFourteen;
    grid-row-start: rowEight;
    grid-row-end: rowNine;
}


